target/*
logs/*

.idea/*

service-gateway/target/*
service-gateway/logs/*
service-gateway/.mvn/*

service-dadata/target/*
service-dadata/logs/*
service-dadata/.mvn/*

service-database/target/*
service-database/logs/
service-database/.mvn/*

service-route/target/*
service-route/logs/
service-route/.mvn/*

*.swp
*.iml
core/*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
